<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="classes" href="/tabs/classes">
      <ion-icon aria-hidden="true" name="book-outline"></ion-icon>
      <ion-label>Classes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="students" href="/tabs/students">
      <ion-icon aria-hidden="true" name="people-circle-outline"></ion-icon>
      <ion-label>Students</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="assignments" href="/tabs/assignments">
      <ion-icon aria-hidden="true" name="reader-outline"></ion-icon>
      <ion-label>Assignments</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
